.box {
    position: absolute;
    border: 1px solid black;
    
}

#box1 {
    top: 110px;
    left: 10px;
    height: 10rem;
    width: 10rem;
    z-index: -3;
}

#box2 {
    top: 214px;
    right: 290px;
    height: 9rem;
    width: 10rem;
    z-index: -2;
    background-color: white;
}

#box3 {
    bottom: 10px;
    left: 10px;
    height: 10rem;
    width: 28rem;
    z-index:-1 ;
    background-color: white;
}

#box4 {
    bottom: 10px;
    right: 160px;
    height: 30rem;
    width: 5rem;
    background-color: white;
   
}
