*{
    margin: 0;
    padding: 0;
  
}
* ::before,
* ::after 

html {
    font-size: 62.5% ;
    color: black;
    font: 12px;

}



.card {
    gap: 5rem;
    height: auto;
    width: 15rem; 
    padding: 20px;
    background-size: cover;
    
    
}

.card h2 {
    background-color: blanchedalmond;
    margin: auto;
}

.card p {
    background-color: blanchedalmond;
    margin: auto;
}
nav{
    
    align-items: center;
    display: block;
    justify-content: center;
    background-color: blanchedalmond;
   
    display: flex;
    align-items: flex-start;
    margin: auto;
 

}
nav,ul, li, a{
    display: flex;
    gap: 0.5rem;
        align-items: center; 
        background-color: blanchedalmond;
     font-size: small;
     align-items: flex-start;
     height: 5rem;
 

        
}
.img {
background:fixed;
position: absolute;
    height: auto;
  
    z-index: -1;

}