*{
    margin: 0;
    padding: 0;
  
}
* ::before,
* ::after 



button ,.large{
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;

}

.large-square {
    background-color: #3498db;
    color: #fff;
}

.large-round {
    background-color: #2ecc71;
    color: #fff;
    border-radius: 50%;
}

.large-square-border {
    background-color: transparent;
    border: 2px solid #e74c3c;
    color: #e74c3c;
}

.large-round-border {
    background-color: transparent;
    border: 2px solid #f39c12;
    color: #f39c12;
    border-radius: 50%;
}

button, .smaller{
    padding: 5px 10px;
    font-size: 14px;
}


.smaller .smaller-square, .smaller-round, .smaller-square-border, .smaller-round-border {
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    text-decoration: none;
}

.smaller-square {
    background-color: #3498db;
    color: #fff;
}

.smaller-round {
    background-color: #2ecc71;
    color: #fff;
    border-radius: 50%;
}

.smaller-square-border {
    background-color: transparent;
    border: 2px solid #e74c3c;
    color: #e74c3c;
}

.smaller-round-border {
    background-color: transparent;
    border: 2px solid #f39c12;
    color: #f39c12;
    border-radius: 50%;
}

