
body {
    background-color: blanchedalmond;/

    
}


.card {
    background-color: #fff; 
    border: 1px solid #0e0101; 
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    margin: 20px; 
}


.card h2 {
    color: #8f1010; 
    font-size: 18px; 
    margin-bottom: 10px; 
}
